#int1 {
    height: 200px;
    background-color: black;
    background-image: linear-gradient(#090, 
                                  yellow 20% 10%, pink 20%);
}
  
.data1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
}
  
.data22 {
    font-size: 17px;
    text-align: center;
}